
.button{
    background-color: transparent;
    border: none;
    inline-size: 32px;
    block-size: 32px;
    border: 0;
    background-repeat: no-repeat ;
    cursor: pointer;
}

.button:active{
 transform: scale(.9);
}

.wrapper{
max-inline-size: 900px;
margin: auto;}


.player video{
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;

}

#play{

    background-image: url(./images/play.svg); 
}

#pause{
    background-image: url(./images/pause.svg);
}

#forward{
    background-image: url(./images/+10.svg); 
}

#backward{
    background-image: url(./images/-10.svg); 
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #26b4bc;
}

.player{
    position: relative;
    margin-block-start: 100px;
}
.player-title{
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: white;
    position: absolute;
    inset-block-start: 0;
    margin: 1%;
    margin-inline-start: 8px;
}

.player-actions{
    border: 0;
     position: absolute;
     inset: 0;
     margin-inline-start: 0px;
     display: flex;
     justify-content: center;
     align-items: center;
    gap: 10px;
}
.player-progress{
    background-color: 0;
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;

}

.player-progress input{
    flex: 1;
}

.player:hover .player-overlay {
  opacity: 1;
  transition: .3s opacity;
}

.player-overlay{
    inset: 0;
    position: absolute;
    opacity: 0;
    transition: .3s opacity;
}

h2{
    font-family: cursive;
}
